<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kawakp.demingliu.defaultapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.SlidingMenuActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.WXactivity"
            android:launchMode="singleTask"
           />
        <activity android:name=".activity.TreeMenuActivity"/>
        <activity android:name=".activity.CoordinatorLayoutActivity"/>
        <activity android:name=".activity.ReactFloatActivity"/>
        <activity android:name=".activity.AnimaActivity"/>
        <activity android:name=".activity.anima.TextSwitcherActivity" />
        <activity android:name=".activity.anima.ImageSwitcherActivity" />
        <activity android:name=".activity.anima.ViewFlipperActivity" />
        <activity android:name=".activity.anima.VGChildrenAnimActivity" />
        <activity android:name=".activity.anima.CanvasAnimActivity" />
        <activity android:name=".activity.anima.KenBurnsActivity"></activity>
        <activity android:name=".activity.TestPanningViewActivity"/>
        <activity android:name=".activity.FlowLayoutActivity"/>
        <activity android:name=".activity.SpringScrollViewActivity"/>


    </application>

</manifest>